.pink-skin .navbar{
    		background-color:var(--theme-color)!important;
    	}
    	/*OTP POPUP*/	
    	.pos_rel {
			position: relative;
		}
		.code-alrt-inputs li {
			display: inline-block;
			vertical-align: middle;
		}
		
		.code-alrt-inputs input {
			text-align: center;
		}
		
		ul.code-alrt-inputs input {
		    width: 40px;
			border: 1px solid #efefef;
		    text-align: center;
		    padding: 0;
		    font-size: 14px;
			font-weight: 500;
		    font-family: 'Roboto', sans-serif;
		}
		
		ul.code-alrt-inputs input:focus {
		    box-shadow: none;
			border: 1px solid var(--theme-color-one);
		}
		.checout-address-step .form-control {
		    font-size: 14px;
		    font-family: 'Roboto', sans-serif;
		    font-weight: 500;
		    color: #2b2f4c;
		    border: 1px solid #d6d5d5;
			position: relative;
			padding: 0 1rem 0 1rem;
		}
		
		.form-control:focus {
		    outline: none !important;
		    box-shadow: none !important;
		}
		
		.otpPopUP .form-control:focus {
			border: 1px solid var(--theme-color) !important;
		}
		